{% extends 'base-simple.html' %}

{% block header %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
<script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

{% endblock header %}

{% block center %}


<table class="table-striped table-hover" id="applicationTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Applicant</th>
            <th>Organization</th>
            <th>Property</th>
            <th>Applications Type</th>
            <th>Status</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    $(document).ready(function() {
        $('#applicationTable').dataTable( {
            "processing": true,
            "ajax": {
                "processing": true,
                "url": "{% url 'applications_ajax' %}",
                "dataSrc": ""
            },
            "columnDefs": [
                {
                    // The `data` parameter refers to the data for the cell (defined by the
                    // `data` option, which defaults to the column being worked with, in
                    // this case `data: 0`.
                    "render": function ( data, type, row ) {
                        url = "<a href='applications/edit/"+data+"'>"+data+"</a>"
                        return url;
                    },
                    "targets": 0
                }
            ],
             "columns": [
                    { "data": "pk" },
                    { "data": "fields.user" },
                    { "data": "fields.organization" },
                    { "data": "fields.Property" },
                    { "data": "fields.application_type" },
                    { "data": "fields.status" },
                    { "data": "url" },
            ]
         } );
     } );
 </script>

{% endblock center %}
