{% extends 'base.html' %}

{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block header %}
{% load staticfiles %}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<link rel="stylesheet" href="{% static "screen.css" %}" type="text/css" />

{% endblock header %}

{% block left %}
		<div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Search Criteria</h3>
            </div>
            <div class="panel-body">
              <form action="" method="get">
		    {{ filter.form|crispy}}
		    <input type="submit" />
		</form>
            </div>
          </div>
{% endblock left %}

{% block center %}
	{% render_table table %}
<script>
$('#id_Property').select2();
$('#id_user__email').select2();
</script>
{% endblock center %}
