{% extends 'base-simple.html' %}
{% load humanize %}
{% block center%}
<table id="table">
    <thead>
    <tr>
        <th data-field="key" class="key">Question</th>
        <th data-field="value">Response</th>
    </tr>
    </thead>
    <tbody>
<tr><td>Property</td><td>{{application.Property}}</td>
</tr>
<tr>
<td>Applicant</td><td>{{application.user.first_name}} {{application.user.last_name}}</td>
</tr>
<tr>
<td>Organization</td><td>{{application.organization}}</td>
</tr>
<tr>
<td>Date Created</td><td>{{application.created}}</td>
</tr>
<tr>
<td>Date Modified</td><td>{{application.modified}}</td>
</tr>
<tr>
<td>Status</td><td>{{application.get_status_display}}</td>
</tr>
<tr>
<td></td><td>{{application.conflict_board_rc}}</td>
</tr>
<tr>
<td></td><td>{{application.conflict_board_rc_name}}</td>
</tr>
<tr>
<td>Active Citations</td><td>{{application.active_citations}}</td>
</tr>
<tr>
<td>Tax Status</td><td>{{application.get_tax_status_of_properties_owned_display}}</td>
</tr>
<tr>
<td>Names through which other properties owned</td><td>{{application.other_properties_names_owned}}</td>
</tr>
<tr>
<td>Prior Tax Foreclosures</td><td>{{application.prior_tax_foreclosure}}</td>
</tr>
<tr>
<td>Application Type</td><td>{{application.get_application_type_display}}</td>
</tr>

{% if application.application_type == 3 %}
<tr>
  <td>Applicant attests sidelot eligibile</td><td>{{application.sidelot_eligible}}</td>
</tr>
{% elif application.application_type == 2 %}
<tr>
  <td>Property will be a rental</td><td>{{application.is_rental}}</td>
</tr>
  {% if application.Property.nsp == True %}
    <tr>
    <td>NSP Income Qualifier</td><td>{{application.nsp_income_qualifier}}</td>
    </tr>
  {% endif %}
    <tr>
    <td>Long Term Ownership</td><td>{{application.long_term_ownership}}</td>
    </tr>
{% else %}
  <tr>
  <td>Planned improvements</td><td>{{application.planned_improvements}}</td>
  </tr>
  <tr>
  <td>Timeline</td><td>{{application.timeline}}</td>
  </tr>
  <tr>
  <td>Estimated Cost</td><td>${{application.estimated_cost|intcomma}}</td>
  </tr>
  <tr>
  <td>Source of Financing</td><td>{{application.source_of_financing}}</td>
  </tr>
{% endif %}
  </tbody>
</table>
{{application.file}}
{% endblock center %}
