{% extends 'allauth-wp-base.html' %}
{% load crispy_forms_tags %}
{% block extra_head %}
<!-- jQuery and UI
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
-->
<!-- Ajax Uploader -->
<script src="{{ STATIC_URL }}ajaxuploader/js/fileuploader.js" ></script>
<link href="{{ STATIC_URL }}ajaxuploader/css/fileuploader.css" media="screen" rel="stylesheet" type="text/css" />

{% endblock extra_head %}

{% block content %}
    <div class="row">
{% crispy form %}
    </div>
    <div class="row">&nbsp</div>

<script>
jQuery(document).ready((function($){
	var sowuploader = new qq.FileUploader({
		action: "{% url 'my_ajax_upload' %}",
		element: $('#id_sos_business_entity_report')[0],
		multiple: true,
		onComplete: function(id, fileName, responseJSON) {
			if(responseJSON.success) {
				//alert("success!");
			} else {
				alert("Upload Failed!");
				console.log(fileName);
				console.log(responseJSON);
			}
		},
		onAllComplete: function(uploads) {
			// uploads is an array of maps
			// the maps look like this: {file: FileObject, response: JSONServerResponse}
			alert("Uploads complete!");
		},
		params: {
			'csrf_token': '{{ csrf_token }}',
			'csrf_name': 'csrfmiddlewaretoken',
			'csrf_xname': 'X-CSRFToken',
			'file_purpose': '1',
			'application': '{{ app_id }}',

		},
	});
}));
</script>
{% endblock content %}
