{% extends 'base-popup.html' %}
{% load crispy_forms_tags %}
{% block header %}
<!-- jQuery and UI-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>

<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

{% endblock header %}

{% block body %}
<div class="container">
    <div class="row">
{% if success %}
<div class="alert alert-success" role="alert">Organization created</div>
<script>
setTimeout(function(){
    window.close();
}, 5000);
</script>
{% endif %}
{% crispy form %}

</div>
<div class="row">&nbsp</div>

</div>
{% endblock body %}
