{% extends 'allauth-wp-base.html' %}
{% load render_table from django_tables2 %}

{% block content %}

<h1>Third Party Buyers</h1>
<p class='lead'>
If you are applying for a property on behalf of another person, a company or other entity that will take
title to the property then they must be listed on your application as the third party buyer.
</p>
<p>Examples of this include a Realtor applying on behalf of a client, an employee applying for a company or an owner applying for a property
that will be owned through a self directed IRA.
</p>
<p>You can view your existing third party buyers or add a new one on this page.
If you are applying for a property for yourself then you don't need to do anything here.
</p>
<p>
{% render_table table %}
</p>
<p class="text-center">
    <a href="{% url 'applicants_organization_add' %}" class="btn btn-primary" role="button">Add a new organization/third party</a>
</p>
{% endblock content %}
