{% extends 'allauth-wp-base.html' %}

{% block extra_head %}
<!-- Bootstrap -->
<script src="{{ STATIC_URL }}RelatedObjectLookups.js"></script>
{% endblock extra_head %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Name</td>
            <td>Edit</td>
        </tr>
    </thead>
    <tbody>
        {% for organization in organizations %}
            <tr>
                <td>{{organization.name}}</td>
                <td>edit</td>
            </tr>
            {% empty %}
            <tr>
                <td>No organizations</a>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
