{% extends 'allauth-wp-base.html' %}
{% load render_table from django_tables2 %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<row class="col-md-12">
<span class="col-md-7">
    {% if not profile %}
    <div class="alert alert-warning">Please complete your profile with your full name and contact information.</div>
    {% endif %}

    <p class="lead">
Welcome {{ user.first_name }},</br>
Thank you for your interest in Renew Indianapolis and our properties.
    </p>
    <p>
        Renew Indianapolis exists to return chronically vacant and abandoned property to productive use.  We accept donated properties and work
        with the City of Indianapolis on city-owned properties. You can view our complete, up to date, inventory on
        <a href="https://www.renewindianapolis.org/search-map/">our property map</a>.
    </p>
        Our primary method of identifying buyers is our online application. Our online application is free, with no application fee,
        and we welcome interested buyers of all types—individuals, non-profit organizations, and for-profit corporations.
    </p>
        You can get started on an application by clicking "Start a New Application" or resume an existing application by clicking
        "edit" next to the application.
    <p>
        We consider applications rolling basis, with the Review Committee typically meeting the last Thursday of every month.
        The deadline for that meeting is the Friday two weeks before. As part of a homestead or standard application we require
        a scope of work showing what you will do to repair the property within the first 24 months of owning it, and proof of
        funds to show you have money available to pay for your proposed work. You can request a visit to a property to prepare
        your scope of work by clicking the "Request A Property Visit" button.
    </p>
    <p>
        This is a short summary of our procedures, for more information please see
        <a href="https://www.renewindianapolis.org/view-our-policies/">our policies and proceedures page</a>.
    </p>
</span>
<span class="col-md-5">
<p class="">
<h3>Property Visits</h3>
{% render_table property_inquiries %}
<p class="text-center">
<a href="{% url 'submit_property_inquiry' %}" class="btn btn-primary" role="button">Request a Property Visit</a>
</p>
</p>
<p class="">
<h3>Applications</h3>
{% render_table applications %}
<p class="text-center">
<a href="{% url 'process_application' 'new' %}" class="btn btn-primary" role="button">Start a New Application</a>
</p>
</p>
<!--
<span class="">
<h3>Organizations</h3>
{% render_table organizations %}
</span>
</span>
-->
</row>
{% endblock content %}
