{% extends 'allauth-wp-base.html' %}
{% load render_table from django_tables2 %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<row class="col-md-12">&nbsp</row>
<row class="col-md-12">
<span class="col-md-7">
    {% if not profile %}
    <div class="alert alert-warning">Please complete your profile with your full name and contact information.</div>
    {% endif %}
    {% if not profile %}
    <div class="alert alert-warning">Please verify your email address.</div>
    {% endif %}

    <p class="lead">
Welcome {{ user.first_name }},</br>
Thank you for your interest in Renew Indianapolis and our properties.
    </p>
    <p>
        Renew Indianapolis sells properties through an application process. Anyone is welcome to apply and there are is no application fee.
    </p>
    <p>
        Brief explanation of application process, scope of work, proof of funds, deadlines,
    </p>
</span>
<span class="col-md-5">
<p class="">
<h3>Property Visits</h3>
{% render_table property_inquiries %}
<p class="text-center">
<a href="{% url 'submit_property_inquiry' %}" class="btn btn-primary" role="button">Request a Property Visit</a>
</p>
</p>
<p class="">
<h3>Applications</h3>
{% render_table applications %}
<p class="text-center">
<a href="{% url 'process_application' 'new' %}" class="btn btn-primary" role="button">Start a New Application</a>
</p>
</p>
<!--
<span class="">
<h3>Organizations</h3>
{% render_table organizations %}
</span>
</span>
-->
</row>
{% endblock content %}
