<table class="paleblue" style="table-layout:fixed">
	<tr>
		<th>Pacel Number</th>
		<th>Street Address</th>
		<th>Zipcode</th>
		<th>Structure Type</th>
		<th>CDC</th>
		<th>Zoned</th>
		<th><a href="#" class="tooltip">NSP<span>If a property comes with requirements related to the Neighborhood Stabilization Program.</span></a></th>
		<th>Quiet Title Complete</th>
		<th><a href="#" class="tooltip">Side lot eligible<span>If a property is eligible for the side lot program.</span></a></th>
		<th>Parcel Size (sq ft)</th>
		<th>Status</th>
		<th>Other notes</th>
		<th>Price</th>
	</tr>
{% load endless %}
{% paginate 25 table %}
	{% for property in table %}
	<tr>
		<td>{{property.parcel}}</td>
		<td>{{property.streetAddress}}</td>
		<td>{{property.zipcode}}</td>
		<td>{{property.structureType}}</td>
		<td class="cdc">{{property.cdc}}</td>
		<td>{{property.zone}}</td>	
		<td>{{property.nsp|yesno:"Yes,No"}}</td>
		<td>{{property.quiet_title_complete|yesno:"Yes,No"}}</td>
		<td>{{property.sidelot_eligible|yesno:"Yes,No"}}</td>
		<td>{{property.area}}</td>
		<td>{{property.status}}</td>
		<td>{{property.urban_garden|yesno:"Urban Garden,"}} {{property.homestead_only|yesno:"Homestead only,"}} {{property.bep_demolition|yesno:"BEP demolition proposed,"}}</td>
		<td>${{property.price|default_if_none:""|floatformat:"0"}}{% if property.sidelot_eligible %}/$750{% endif %}</td>
	</tr>
	{% endfor %}
	{% get_pages %}
Showing entries
{{ pages.current_start_index }}-{{ pages.current_end_index }} of
{{ pages.total_count }}.
{# Just print pages to render the Digg-style pagination. #}
{{ pages }}
</table>
